<nav class="col-md-12 col-lg-auto menu d-flex align-items-stretch flex-wrap flex-sm-nowrap">
    <a href="/" class="c-1 d-flex align-items-center">
        <div class="d-flex flex-column text-center">
            <span>Inicio</span>
            <i class="icono icon-town-hall"></i>
        </div>
    </a>
    <a href="/productos" class="c-2 d-flex align-items-center">
        <div class="d-flex flex-column text-center">
            <span>Productos</span>
            <i class="icono icon-calendar "></i>
        </div>
    </a>
    <a href="/ventas" class="c-3 d-flex align-items-center">
        <div class="d-flex flex-column text-center">
            <span>Ventas</span>
            <i class="icono icon-money "></i>
        </div>
    </a>
    <a href="/compras" class="c-2 d-flex align-items-center">
        <div class="d-flex flex-column text-center">
            <span>Compras</span>
            <i class="icono icon-credit-card "></i>
        </div>
    </a>
    <a href="/registro" class="c-2 d-flex align-items-center">
        <div class="d-flex flex-column text-center">
            <span>Registro</span>
            <i class="icono icon-dropbox "></i>
        </div>
    </a>
</nav>