
.icon-gmail:before { content: '\e800'; } /* '' */
.icon-dropbox:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-ok-1:before { content: '\e803'; } /* '' */
.icon-money:before { content: '\e804'; } /* '' */
.icon-user-add-outline:before { content: '\e805'; } /* '' */
.icon-ok:before { content: '\e806'; } /* '' */
.icon-ok-2:before { content: '\e807'; } /* '' */
.icon-user-add:before { content: '\e808'; } /* '' */
.icon-credit-card:before { content: '\e812'; } /* '' */
.icon-town-hall:before { content: '\e83c'; } /* '' */
.icon-download:before { content: '\f02e'; } /* '' */
.icon-upload:before { content: '\f02f'; } /* '' */
.icon-registered:before { content: '\f25d'; } /* '' */
.icon-calendar:before { content: '\f4c5'; } /* '' */